::selection{color:#fff;background:#78c0ec}
/* a,.btn-link{color:#e03997} */
/* .text-green,.text-info,.text-success,.text-danger,.text-primary,.text-warning,.mail-star.active,.page-title{color:#78c0ec !important} */
.loader{color:#78c0ec}
.badge-primary{background-color:#78c0ec}
/* .btn-primary{background:#78c0ec;color:#fff;border-color:#78c0ec} */
.nav-tabs .nav-link.active{border-color:#78c0ec;color:#78c0ec}
.form-control:focus{box-shadow:0 0 0 0.2rem rgba(100,53,201,0.25)}
.card,.dropify-wrapper,.btn-primary{border:0}
/* .bg-primary,.bg-info,.bg-warning,.btn-success{background-color:#78c0ec !important;border:transparent} */
/* .bg-success,.bg-danger,.badge-success,.progress-bar,.btn-danger,.btn-warning{background-color:#e03997;border:transparent} */
/* .btn-outline-primary{color:#78c0ec;border-color:#78c0ec}
.btn-outline-primary:hover{background-color:#78c0ec;border-color:#78c0ec} */
.custom-control-input:checked ~ .custom-control-label::before,.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before,.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before{border-color:#78c0ec;background-color:#78c0ec}
.selectgroup-input:checked+.selectgroup-button{border-color:#78c0ec;color:#78c0ec;background:rgba(100,53,201,0.2)}
.imagecheck-figure:before{color:#e03997 !important}
.wizard>.steps .current a,.wizard>.steps .current a:hover,.wizard>.steps .current a:active,.wizard>.actions a,.wizard>.actions a:hover{background:#78c0ec}
.wizard>.steps .done a,.wizard>.steps .done a:hover{background:rgba(100,53,201,0.2);color:#8b84ed}
.bg-blue{background-color:#78c0ec}
.bg-azure{background-color:#78c0ec}
.bg-indigo{background-color:#78c0ec}
.bg-purple{background-color:#78c0ec}
.bg-pink{background-color:#e03997}
.bg-red{background-color:#78c0ec}
.bg-orange{background-color:#78c0ec}
.bg-yellow{background-color:#e03997}
.bg-lime{background-color:#e03997}
.bg-green{background-color:#e03997}
.bg-teal{background-color:#e03997}
.bg-cyan{background-color:#e03997}
.bg-light-blue{background-color:rgba(100,53,201,0.1);color:#78c0ec}
.bg-light-azure{background-color:rgba(100,53,201,0.1);color:#78c0ec}
.bg-light-indigo{background-color:rgba(100,53,201,0.1);color:#78c0ec}
.bg-light-purple{background-color:rgba(163,51,200,0.1);color:#a333c8}
.bg-light-pink{background-color:rgba(224,57,151,0.1);color:#e03997}
.bg-light-red{background-color:rgba(224,57,151,0.1);color:#e03997}
.bg-light-orange{background-color:rgba(224,57,151,0.1);color:#e03997}
.bg-light-yellow{background-color:rgba(224,57,151,0.1);color:#e03997}
.bg-light-lime{background-color:rgba(100,53,201,0.1);color:#78c0ec}
.bg-light-green{background-color:rgba(100,53,201,0.1);color:#78c0ec}
.bg-light-teal{background-color:rgba(100,53,201,0.1);color:#78c0ec}
.bg-light-cyan{background-color:rgba(224,57,151,0.1);color:#e03997}
.bg-light-gray{background-color:rgba(102,106,109,0.1);color:#666A6D}
.avatar.avatar-blue{background-color:rgba(100,53,201,0.1);color:#78c0ec}
.avatar.avatar-azure{background-color:rgba(100,53,201,0.1);color:#78c0ec}
.avatar.avatar-indigo{background-color:rgba(100,53,201,0.1);color:#78c0ec}
.avatar.avatar-purple{background-color:rgba(100,53,201,0.1);color:#78c0ec}
.avatar.avatar-pink{background-color:rgba(100,53,201,0.1);color:#78c0ec}
.avatar.avatar-red{background-color:rgba(100,53,201,0.1);color:#78c0ec}
.avatar.avatar-orange{background-color:rgba(100,53,201,0.1);color:#78c0ec}
.avatar.avatar-yellow{background-color:rgba(224,57,151,0.1);color:#e03997}
.avatar.avatar-lime{background-color:rgba(224,57,151,0.1);color:#e03997}
.avatar.avatar-green{background-color:rgba(224,57,151,0.1);color:#e03997}
.avatar.avatar-teal{background-color:rgba(224,57,151,0.1);color:#e03997}
.avatar.avatar-cyan{background-color:rgba(224,57,151,0.1);color:#e03997}
#header_top .brand-logo{background:#78c0ec}
.header{background:#78c0ec}
.header .nav-tabs .nav-link{color:#fff}
.header .nav-tabs .nav-link.active{border-color:#fff}
.header .dropdown-menu .dropdown-item:hover,.header .dropdown-menu .dropdown-item.active{color:#78c0ec}
.card .card-options a.btn{color:#fff}
.custom-switch-input:checked ~ .custom-switch-indicator{background:#78c0ec}
#left-sidebar .sidebar-nav{margin-right:0}
.sidebar{
    margin-right:0;
    background-color: hsl(203, 76%, 70%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#78c0ec');
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#78c0ec));
    background-image: -moz-linear-gradient(top, #ffffff, #78c0ec);
    background-image: -ms-linear-gradient(top, #ffffff, #78c0ec);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #78c0ec));
    background-image: -webkit-linear-gradient(top, #ffffff, #78c0ec);
    background-image: -o-linear-gradient(top, #ffffff, #78c0ec);
    background-image: linear-gradient(#ffffff, #78c0ec);
    border-color: #78c0ec #78c0ec hsl(203, 76%, 62.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
    -webkit-font-smoothing: antialiased;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding-bottom:5px;
}
#page_top{
    background-color: hsl(203, 76%, 70%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#78c0ec');
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#78c0ec));
    background-image: -moz-linear-gradient(top, #ffffff, #78c0ec);
    background-image: -ms-linear-gradient(top, #ffffff, #78c0ec);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #78c0ec));
    background-image: -webkit-linear-gradient(top, #ffffff, #78c0ec);
    background-image: -o-linear-gradient(top, #ffffff, #78c0ec);
    background-image: linear-gradient(#ffffff, #78c0ec);
    border-color: #78c0ec #78c0ec hsl(203, 76%, 62.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding-bottom:5px;
}
.header_top{
    margin-right:0;
    background-color: hsl(203, 76%, 70%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#78c0ec');
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#78c0ec));
    background-image: -moz-linear-gradient(top, #ffffff, #78c0ec);
    background-image: -ms-linear-gradient(top, #ffffff, #78c0ec);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #78c0ec));
    background-image: -webkit-linear-gradient(top, #ffffff, #78c0ec);
    background-image: -o-linear-gradient(top, #ffffff, #78c0ec);
    background-image: linear-gradient(#ffffff, #78c0ec);
    border-color: #78c0ec #78c0ec hsl(203, 76%, 62.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
    -webkit-font-smoothing: antialiased;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding-bottom:5px;
}

.metismenu a{border-radius:3px;padding:10px}
.metismenu a:hover{background:rgba(100,53,201,0.3);color:#78c0ec}
.metismenu .active>a{color:#fff;background:#78c0ec;border:0}
.metismenu .active ul .active a{color:#78c0ec;background:transparent}
.metismenu.grid{padding-right:0}
.metismenu.grid>li.active>a,.metismenu.grid>li>a:hover{background:rgba(100,53,201,0.1);color:#78c0ec}
.iconcolor #header_top .nav-link{color:#8b84ed !important}
.gradient .fa{background:-webkit-linear-gradient(45deg, #78c0ec, #e03997);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.gradient .custom-switch-input:checked ~ .custom-switch-indicator{background:linear-gradient(45deg, #78c0ec, #e03997) !important}
.gradient .metismenu.grid>li.active>a,.gradient .metismenu.grid>li>a:hover{background:linear-gradient(45deg, #78c0ec, #8b84ed) !important;color:#fff;border:0}
/* .gradient .btn-primary{background:linear-gradient(45deg, #78c0ec, #e03997) !important;border:0}
.gradient .btn-dark{background:linear-gradient(45deg, #808488, #333537) !important} */
/* .gradient .bg-success,.gradient .bg-danger,.gradient .badge-success,.gradient .progress-bar,.gradient .btn-danger{background:linear-gradient(45deg, #78c0ec, #e03997) !important} */
.sidebar_dark .metismenu .active>a{color:#8b84ed}

/* Custom Breadcrumb */

#navbreadcrumb{
    background-color: #286090;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
  }
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:active,
  .btn-primary.active,
  .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
  }
  .btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
  }
  .btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
  }
  /** The Spacing **/

  .btn-breadcrumb .btn {
    padding: 6px 12px 6px 24px;
    color: #fff;
  }
  .btn-breadcrumb .btn:first-child {
    padding: 6px 6px 6px 10px;
  }
  .btn-breadcrumb .btn:last-child {
    padding: 6px 18px 6px 24px;
  }
  /** Primary button **/

  /* .btn-breadcrumb .btn.btn-primary:not(:last-child):after {
    border-left: 10px solid #428bca;
  }
  .btn-breadcrumb .btn.btn-primary:not(:last-child):before {
    border-left: 10px solid #357ebd;
  }
  .btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
    border-left: 10px solid #3276b1;
  }
  .btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
    border-left: 10px solid #285e8e;
  } */

